.desktop-1 .portfolio {
  border: 0.3rem solid #FFFFFF;
  margin: 0 0 1.7rem 1.1rem;
  display: inline-block;
  overflow-wrap: break-word;
}
.desktop-1 .line-1 {
  background: #FFFFFF;
  width: 51.9rem;
  height: 0.6rem;
}
.desktop-1 .container {
  border-radius: 27.5rem;
  background: linear-gradient(180deg, #A6A9FF, #F0F1F1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29.2rem 3.1rem 16.3rem 0;
  width: 55rem;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-1 .ellipse-23 {
  border-radius: 36.5rem;
  transform: rotate(-55.346deg);
  position: absolute;
  left: -23.1rem;
  bottom: -24.5rem;
  width: 101.6rem;
  height: 101.6rem;
}
.desktop-1 .ellipse-241 {
  border-radius: 50.1rem;
  transform: rotate(-55.346deg);
  position: absolute;
  left: -41.6rem;
  bottom: -43.4rem;
  width: 139.5rem;
  height: 139.5rem;
}
.desktop-1 .rectangle-12 {
  background: #C3C6F9;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 31.9rem;
  height: 67.5rem;
}
.desktop-1 .ellipse-24 {
  border-radius: 23.1rem;
  transform: rotate(-55.346deg);
  position: absolute;
  top: -22rem;
  right: -27.1rem;
  width: 64.2rem;
  height: 64.2rem;
}
.desktop-1 .ellipse-25 {
  border-radius: 14.4rem;
  transform: rotate(-55.346deg);
  position: absolute;
  top: -9.9rem;
  right: -15.1rem;
  width: 40.1rem;
  height: 40.1rem;
}
.desktop-1 {
  background: #F0F1F1;
  padding-top: 13.7rem;
  width: 120rem;
  box-sizing: border-box;
}
